In [1]:
import numpy as np
import pandas as pd

# Attributes and Functions of Series

In [11]:
d = {"b": 1, "a": 0, "c": 2,"aniket":50.25,"Aaa": True}
ser = pd.Series(d,name="aniket")
print(ser)

b             1
a             0
c             2
aniket    50.25
Aaa        True
Name: aniket, dtype: object

**Attributes**

In [3]:
#1.
ser.index

Index(['b', 'a', 'c', 'aniket', 'Aaa'], dtype='object')

In [23]:
#2.
ser.dtype

dtype('O')

In [20]:
#3.
ser.ndim

1

In [6]:
#4.
ser.nbytes

40

In [7]:
#5.
ser.shape

(5,)

In [12]:
#6.
ser.name

'aniket'

In [13]:
#7.
ser.empty

False

In [14]:
#8.
ser.T

b             1
a             0
c             2
aniket    50.25
Aaa        True
Name: aniket, dtype: object

In [15]:
#9.
ser.to_numpy()

array([1, 0, 2, 50.25, True], dtype=object)

In [16]:
#10.
ser.size

5

**Functions**

In [24]:
#1.
ser.keys()

Index(['b', 'a', 'c', 'aniket', 'Aaa'], dtype='object')

In [31]:
ser

b             1
a             0
c             2
aniket    50.25
Aaa        True
Name: aniket, dtype: object

In [34]:
#2.
ser.pop('a')
ser

c             2
aniket    50.25
Aaa        True
Name: aniket, dtype: object

In [39]:
d = {"b": 1, "a": 0, "c": -2,"aniket":50.25,"Aaa": True}
ser = pd.Series(d,name="aniket")

In [40]:
ser

b             1
a             0
c            -2
aniket    50.25
Aaa        True
Name: aniket, dtype: object

In [41]:
#3.
ser.abs()
#value of c

b             1
a             0
c             2
aniket    50.25
Aaa           1
Name: aniket, dtype: object

In [42]:
#4.
ser.count() #returns no. of not null values

5

In [51]:
ser2 = pd.Series(np.random.rand(10))
ser2 = ser2*5

In [52]:
ser2

0    1.788608
1    3.684158
2    4.762284
3    4.755493
4    4.249647
5    3.529769
6    1.416253
7    1.770574
8    3.100269
9    2.327534
dtype: float64

In [53]:
#3.
ser2.describe()

count    10.000000
mean      3.138459
std       1.258549
min       1.416253
25%       1.923340
50%       3.315019
75%       4.108274
max       4.762284
dtype: float64

In [55]:
#4.
ser2.mad()

1.0578112399352402

In [56]:
#5.
ser2.max()

4.7622835171318805

In [57]:
#6.
ser2.mean()

3.1384589282375277

In [59]:
#7.
ser2.mode()

0    1.416253
1    1.770574
2    1.788608
3    2.327534
4    3.100269
5    3.529769
6    3.684158
7    4.249647
8    4.755493
9    4.762284
dtype: float64

In [60]:
#8.
ser2.min()

1.4162531477281814

In [61]:
#9.
ser2.std()

1.2585490779624917

In [62]:
#10.
ser2.nlargest()

2    4.762284
3    4.755493
4    4.249647
1    3.684158
5    3.529769
dtype: float64

In [63]:
#11.
ser2.nsmallest()

6    1.416253
7    1.770574
0    1.788608
9    2.327534
8    3.100269
dtype: float64

In [64]:
#12.
ser2.var()

1.5839457816402378

In [65]:
#13.
ser2.count()

10

In [66]:
#14.
ser2.to_numpy()

array([1.78860825, 3.684158  , 4.76228352, 4.75549331, 4.24964659,
       3.52976942, 1.41625315, 1.77057387, 3.10026872, 2.32753446])

In [67]:
#15.
ser2.unique()

array([1.78860825, 3.684158  , 4.76228352, 4.75549331, 4.24964659,
       3.52976942, 1.41625315, 1.77057387, 3.10026872, 2.32753446])

In [68]:
#16.
ser.argsort()

b         2
a         1
c         0
aniket    4
Aaa       3
Name: aniket, dtype: int64

In [69]:
ser2.argsort()

0    6
1    7
2    0
3    9
4    8
5    5
6    1
7    4
8    3
9    2
dtype: int64

In [74]:
ser2.ravel()

array([1.78860825, 3.684158  , 4.76228352, 4.75549331, 4.24964659,
       3.52976942, 1.41625315, 1.77057387, 3.10026872, 2.32753446])

In [71]:
ser2.view()

0    1.788608
1    3.684158
2    4.762284
3    4.755493
4    4.249647
5    3.529769
6    1.416253
7    1.770574
8    3.100269
9    2.327534
dtype: float64

In [73]:
'''There are a lots of other attributes and functions realted to Series in the pandas documentation.
You can check it out from the link'''
'https://pandas.pydata.org/docs/reference/series.html'

'https://pandas.pydata.org/docs/reference/series.html'

# Attributes and Functions of DataFrame

**Attributes**

In [75]:
data =  {

    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),

    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),

}
df = pd.DataFrame(data)

In [76]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [77]:
df2 = pd.DataFrame(np.random.rand(20,10), index = np.random.rand(20))

In [78]:
df2

,0,1,2,3,4,5,6,7,8,9
0.196938,0.693181,0.017863,0.541987,0.493913,0.742334,0.708629,0.516350,0.418353,0.817713,0.278506
0.318295,0.512377,0.647823,0.315001,0.261851,0.727101,0.081972,0.738516,0.553278,0.950859,0.477973
0.684047,0.902215,0.670541,0.347522,0.459845,0.144391,0.795559,0.340311,0.112127,0.575762,0.548947
0.925093,0.401527,0.305846,0.368391,0.320992,0.317879,0.558885,0.328250,0.456948,0.269858,0.844610
0.471759,0.675991,0.838783,0.776706,0.803051,0.175008,0.530559,0.933531,0.660608,0.571234,0.978322
0.361029,0.987724,0.465470,0.553492,0.216062,0.307706,0.171264,0.065297,0.008417,0.573660,0.131370
0.193559,0.082330,0.093113,0.096322,0.744905,0.815818,0.251326,0.822945,0.676794,0.652180,0.588371
0.278794,0.742983,0.344372,0.646744,0.336094,0.562407,0.164649,0.764364,0.095622,0.427099,0.874296
0.517452,0.770957,0.427934,0.638880,0.414458,0.377648,0.960244,0.162426,0.559491,0.222920,0.165820
0.323444,0.779971,0.067061,0.998585,0.585905,0.780475,0.885328,0.603716,0.210246,0.537831,0.634419
0.008131,0.326361,0.411382,0.086039,0.938642,0.881150,0.360857,0.235352,0.503306,0.904735,0.874884
0.713434,0.297293,0.096358,0.312153,0.198235,0.667130,0.555489,0.935930,0.691232,0.959551,0.815383
0.304728,0.620673,0.258448,0.363916,0.203774,0.689026,0.699065,0.329290,0.111479,0.754200,0.322938
0.763524,0.774180,0.553294,0.849732,0.134231,0.307721,0.634506,0.555737,0.140245,0.602626,0.282515
0.664753,0.863609,0.103969,0.511356,0.250239,0.491539,0.227921,0.015012,0.424299,0.937161,0.497031
0.024112,0.518875,0.496764,0.047655,0.018443,0.010785,0.149012,0.235185,0.076432,0.345573,0.216110
0.588638,0.982694,0.526654,0.293684,0.894879,0.481968,0.432545,0.123762,0.672013,0.682042,0.737017
0.875383,0.659581,0.912563,0.546137,0.321028,0.300105,0.647951,0.380389,0.848730,0.732296,0.966035
0.309677,0.675407,0.115936,0.051350,0.388999,0.286035,0.680319,0.164734,0.801448,0.057786,0.614653
0.350127,0.136588,0.373012,0.642931,0.723570,0.826570,0.403663,0.860832,0.760588,0.432364,0.009973

**Attributes**

In [82]:
#1.Index
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [83]:
df2.index

Float64Index([ 0.19693793938616444,   0.3182948619614566,   0.6840468378913359,
                0.9250933549380386,   0.4717593899428827,   0.3610287898129356,
                0.1935586767321058,   0.2787939305707807,   0.5174520933969204,
                0.3234442482379377, 0.008131496833367224,   0.7134336014499422,
               0.30472777188087774,    0.763524020761138,   0.6647534720186534,
              0.024111777731069206,   0.5886381066412976,   0.8753827957504539,
                0.3096770509562744,  0.35012746335931333],
             dtype='float64')

In [85]:
#2.Shape
df.shape

(4, 2)

In [86]:
df2.shape

(20, 10)

In [87]:
#3.Size
df.size

8

In [88]:
df2.size

200

In [89]:
#4. Columns
df.columns

Index(['one', 'two'], dtype='object')

In [90]:
df2.columns

RangeIndex(start=0, stop=10, step=1)

In [91]:
#5. Dimensions
df.ndim

2

In [92]:
df2.ndim

2

In [94]:
#6. data type
df.dtypes

one    float64
two    float64
dtype: object

In [95]:
df2.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

**Functions**

In [96]:
#1.
df.describe()

       one       two
count  3.0  4.000000
mean   2.0  2.500000
std    1.0  1.290994
min    1.0  1.000000
25%    1.5  1.750000
50%    2.0  2.500000
75%    2.5  3.250000
max    3.0  4.000000

In [97]:
df2.describe()

,0,1,2,3,4,5,6,7,8,9
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,0.620226,0.386359,0.449429,0.435456,0.494640,0.494987,0.455596,0.439083,0.600372,0.542959
std,0.260449,0.260015,0.269096,0.264639,0.260288,0.261354,0.303025,0.276194,0.254532,0.299299
min,0.082330,0.017863,0.047655,0.018443,0.010785,0.081972,0.015012,0.008417,0.057786,0.009973
25%,0.484665,0.112944,0.307536,0.241695,0.305806,0.245475,0.217572,0.133216,0.431048,0.281513
50%,0.675699,0.392197,0.439873,0.362546,0.486754,0.543024,0.360350,0.480127,0.589194,0.568659
75%,0.775627,0.533314,0.639893,0.620321,0.730909,0.685006,0.744978,0.673208,0.770078,0.822690
max,0.987724,0.912563,0.998585,0.938642,0.881150,0.960244,0.935930,0.848730,0.959551,0.978322

In [98]:
#2.
df.abs()

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [99]:
df2.abs()

,0,1,2,3,4,5,6,7,8,9
0.196938,0.693181,0.017863,0.541987,0.493913,0.742334,0.708629,0.516350,0.418353,0.817713,0.278506
0.318295,0.512377,0.647823,0.315001,0.261851,0.727101,0.081972,0.738516,0.553278,0.950859,0.477973
0.684047,0.902215,0.670541,0.347522,0.459845,0.144391,0.795559,0.340311,0.112127,0.575762,0.548947
0.925093,0.401527,0.305846,0.368391,0.320992,0.317879,0.558885,0.328250,0.456948,0.269858,0.844610
0.471759,0.675991,0.838783,0.776706,0.803051,0.175008,0.530559,0.933531,0.660608,0.571234,0.978322
0.361029,0.987724,0.465470,0.553492,0.216062,0.307706,0.171264,0.065297,0.008417,0.573660,0.131370
0.193559,0.082330,0.093113,0.096322,0.744905,0.815818,0.251326,0.822945,0.676794,0.652180,0.588371
0.278794,0.742983,0.344372,0.646744,0.336094,0.562407,0.164649,0.764364,0.095622,0.427099,0.874296
0.517452,0.770957,0.427934,0.638880,0.414458,0.377648,0.960244,0.162426,0.559491,0.222920,0.165820
0.323444,0.779971,0.067061,0.998585,0.585905,0.780475,0.885328,0.603716,0.210246,0.537831,0.634419
0.008131,0.326361,0.411382,0.086039,0.938642,0.881150,0.360857,0.235352,0.503306,0.904735,0.874884
0.713434,0.297293,0.096358,0.312153,0.198235,0.667130,0.555489,0.935930,0.691232,0.959551,0.815383
0.304728,0.620673,0.258448,0.363916,0.203774,0.689026,0.699065,0.329290,0.111479,0.754200,0.322938
0.763524,0.774180,0.553294,0.849732,0.134231,0.307721,0.634506,0.555737,0.140245,0.602626,0.282515
0.664753,0.863609,0.103969,0.511356,0.250239,0.491539,0.227921,0.015012,0.424299,0.937161,0.497031
0.024112,0.518875,0.496764,0.047655,0.018443,0.010785,0.149012,0.235185,0.076432,0.345573,0.216110
0.588638,0.982694,0.526654,0.293684,0.894879,0.481968,0.432545,0.123762,0.672013,0.682042,0.737017
0.875383,0.659581,0.912563,0.546137,0.321028,0.300105,0.647951,0.380389,0.848730,0.732296,0.966035
0.309677,0.675407,0.115936,0.051350,0.388999,0.286035,0.680319,0.164734,0.801448,0.057786,0.614653
0.350127,0.136588,0.373012,0.642931,0.723570,0.826570,0.403663,0.860832,0.760588,0.432364,0.009973

In [100]:
df2 = pd.DataFrame(np.random.rand(20,10), index = np.arange(20))

In [101]:
df2

,0,1,2,3,4,5,6,7,8,9
0,0.547383,0.048068,0.020326,0.422269,0.211015,0.419623,0.166984,0.816644,0.501600,0.299541
1,0.158090,0.173521,0.092980,0.983471,0.661321,0.466886,0.722373,0.702351,0.216648,0.676294
2,0.983284,0.626714,0.477644,0.573190,0.260063,0.436304,0.800572,0.157191,0.581989,0.512425
3,0.332031,0.980713,0.342948,0.352510,0.147109,0.341093,0.319575,0.634771,0.045177,0.827866
4,0.298862,0.084795,0.276614,0.377752,0.307140,0.702675,0.544415,0.613177,0.163364,0.865773
5,0.040675,0.561775,0.977687,0.932247,0.695339,0.407232,0.245137,0.876200,0.887926,0.095334
6,0.525938,0.453335,0.508970,0.510374,0.019208,0.094319,0.503374,0.050519,0.852546,0.781502
7,0.813886,0.962933,0.890146,0.878619,0.433543,0.928271,0.888659,0.007454,0.999036,0.056234
8,0.529626,0.535495,0.207493,0.541618,0.231770,0.579870,0.815939,0.173780,0.645425,0.270040
9,0.670591,0.231888,0.086909,0.120577,0.213524,0.688187,0.985378,0.778575,0.451172,0.109636
10,0.332922,0.955975,0.928650,0.343339,0.114092,0.388597,0.762522,0.088694,0.644720,0.547288
11,0.384792,0.039733,0.203525,0.445626,0.179105,0.191716,0.047813,0.495827,0.471063,0.757385
12,0.246076,0.391157,0.990437,0.998897,0.705280,0.090896,0.384164,0.792900,0.949557,0.411784
13,0.129614,0.726900,0.661794,0.557062,0.844757,0.383576,0.259404,0.110017,0.458015,0.819498
14,0.554109,0.183804,0.979812,0.836270,0.494005,0.855500,0.328067,0.678357,0.218070,0.781799
15,0.057650,0.258131,0.164662,0.601152,0.426158,0.599420,0.439401,0.367658,0.460134,0.129003
16,0.734189,0.119598,0.632199,0.889261,0.739865,0.373952,0.703584,0.111583,0.226560,0.532787
17,0.914344,0.325729,0.034759,0.580608,0.928997,0.215765,0.505068,0.628920,0.131271,0.895073
18,0.639037,0.323364,0.168423,0.478294,0.398995,0.748343,0.727088,0.896716,0.933591,0.134481
19,0.327075,0.961712,0.724828,0.874420,0.693857,0.004706,0.555662,0.825988,0.804733,0.382604

In [102]:
df2.abs()

,0,1,2,3,4,5,6,7,8,9
0,0.547383,0.048068,0.020326,0.422269,0.211015,0.419623,0.166984,0.816644,0.501600,0.299541
1,0.158090,0.173521,0.092980,0.983471,0.661321,0.466886,0.722373,0.702351,0.216648,0.676294
2,0.983284,0.626714,0.477644,0.573190,0.260063,0.436304,0.800572,0.157191,0.581989,0.512425
3,0.332031,0.980713,0.342948,0.352510,0.147109,0.341093,0.319575,0.634771,0.045177,0.827866
4,0.298862,0.084795,0.276614,0.377752,0.307140,0.702675,0.544415,0.613177,0.163364,0.865773
5,0.040675,0.561775,0.977687,0.932247,0.695339,0.407232,0.245137,0.876200,0.887926,0.095334
6,0.525938,0.453335,0.508970,0.510374,0.019208,0.094319,0.503374,0.050519,0.852546,0.781502
7,0.813886,0.962933,0.890146,0.878619,0.433543,0.928271,0.888659,0.007454,0.999036,0.056234
8,0.529626,0.535495,0.207493,0.541618,0.231770,0.579870,0.815939,0.173780,0.645425,0.270040
9,0.670591,0.231888,0.086909,0.120577,0.213524,0.688187,0.985378,0.778575,0.451172,0.109636
10,0.332922,0.955975,0.928650,0.343339,0.114092,0.388597,0.762522,0.088694,0.644720,0.547288
11,0.384792,0.039733,0.203525,0.445626,0.179105,0.191716,0.047813,0.495827,0.471063,0.757385
12,0.246076,0.391157,0.990437,0.998897,0.705280,0.090896,0.384164,0.792900,0.949557,0.411784
13,0.129614,0.726900,0.661794,0.557062,0.844757,0.383576,0.259404,0.110017,0.458015,0.819498
14,0.554109,0.183804,0.979812,0.836270,0.494005,0.855500,0.328067,0.678357,0.218070,0.781799
15,0.057650,0.258131,0.164662,0.601152,0.426158,0.599420,0.439401,0.367658,0.460134,0.129003
16,0.734189,0.119598,0.632199,0.889261,0.739865,0.373952,0.703584,0.111583,0.226560,0.532787
17,0.914344,0.325729,0.034759,0.580608,0.928997,0.215765,0.505068,0.628920,0.131271,0.895073
18,0.639037,0.323364,0.168423,0.478294,0.398995,0.748343,0.727088,0.896716,0.933591,0.134481
19,0.327075,0.961712,0.724828,0.874420,0.693857,0.004706,0.555662,0.825988,0.804733,0.382604

In [103]:
#3.
df.count(axis=0)

one    3
two    4
dtype: int64

In [104]:
df2.count(axis=0)

0    20
1    20
2    20
3    20
4    20
5    20
6    20
7    20
8    20
9    20
dtype: int64

In [105]:
df.count(axis=1)

a    2
b    2
c    2
d    1
dtype: int64

In [106]:
#4.
df.all()

one    True
two    True
dtype: bool

In [107]:
df.any()

one    True
two    True
dtype: bool

In [108]:
df2.loc[1,1]=0

In [109]:
df2

,0,1,2,3,4,5,6,7,8,9
0,0.547383,0.048068,0.020326,0.422269,0.211015,0.419623,0.166984,0.816644,0.501600,0.299541
1,0.158090,0.000000,0.092980,0.983471,0.661321,0.466886,0.722373,0.702351,0.216648,0.676294
2,0.983284,0.626714,0.477644,0.573190,0.260063,0.436304,0.800572,0.157191,0.581989,0.512425
3,0.332031,0.980713,0.342948,0.352510,0.147109,0.341093,0.319575,0.634771,0.045177,0.827866
4,0.298862,0.084795,0.276614,0.377752,0.307140,0.702675,0.544415,0.613177,0.163364,0.865773
5,0.040675,0.561775,0.977687,0.932247,0.695339,0.407232,0.245137,0.876200,0.887926,0.095334
6,0.525938,0.453335,0.508970,0.510374,0.019208,0.094319,0.503374,0.050519,0.852546,0.781502
7,0.813886,0.962933,0.890146,0.878619,0.433543,0.928271,0.888659,0.007454,0.999036,0.056234
8,0.529626,0.535495,0.207493,0.541618,0.231770,0.579870,0.815939,0.173780,0.645425,0.270040
9,0.670591,0.231888,0.086909,0.120577,0.213524,0.688187,0.985378,0.778575,0.451172,0.109636
10,0.332922,0.955975,0.928650,0.343339,0.114092,0.388597,0.762522,0.088694,0.644720,0.547288
11,0.384792,0.039733,0.203525,0.445626,0.179105,0.191716,0.047813,0.495827,0.471063,0.757385
12,0.246076,0.391157,0.990437,0.998897,0.705280,0.090896,0.384164,0.792900,0.949557,0.411784
13,0.129614,0.726900,0.661794,0.557062,0.844757,0.383576,0.259404,0.110017,0.458015,0.819498
14,0.554109,0.183804,0.979812,0.836270,0.494005,0.855500,0.328067,0.678357,0.218070,0.781799
15,0.057650,0.258131,0.164662,0.601152,0.426158,0.599420,0.439401,0.367658,0.460134,0.129003
16,0.734189,0.119598,0.632199,0.889261,0.739865,0.373952,0.703584,0.111583,0.226560,0.532787
17,0.914344,0.325729,0.034759,0.580608,0.928997,0.215765,0.505068,0.628920,0.131271,0.895073
18,0.639037,0.323364,0.168423,0.478294,0.398995,0.748343,0.727088,0.896716,0.933591,0.134481
19,0.327075,0.961712,0.724828,0.874420,0.693857,0.004706,0.555662,0.825988,0.804733,0.382604

In [111]:
df2.all(axis=0)

0     True
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
dtype: bool

In [112]:
df2.all(axis=1)

0      True
1     False
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
dtype: bool

In [114]:
df2.any(axis=0)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
dtype: bool

In [117]:
#5.
df2.head(5)

,0,1,2,3,4,5,6,7,8,9
0,0.547383,0.048068,0.020326,0.422269,0.211015,0.419623,0.166984,0.816644,0.501600,0.299541
1,0.158090,0.000000,0.092980,0.983471,0.661321,0.466886,0.722373,0.702351,0.216648,0.676294
2,0.983284,0.626714,0.477644,0.573190,0.260063,0.436304,0.800572,0.157191,0.581989,0.512425
3,0.332031,0.980713,0.342948,0.352510,0.147109,0.341093,0.319575,0.634771,0.045177,0.827866
4,0.298862,0.084795,0.276614,0.377752,0.307140,0.702675,0.544415,0.613177,0.163364,0.865773

In [118]:
#6.
df2.tail(50)

,0,1,2,3,4,5,6,7,8,9
0,0.547383,0.048068,0.020326,0.422269,0.211015,0.419623,0.166984,0.816644,0.501600,0.299541
1,0.158090,0.000000,0.092980,0.983471,0.661321,0.466886,0.722373,0.702351,0.216648,0.676294
2,0.983284,0.626714,0.477644,0.573190,0.260063,0.436304,0.800572,0.157191,0.581989,0.512425
3,0.332031,0.980713,0.342948,0.352510,0.147109,0.341093,0.319575,0.634771,0.045177,0.827866
4,0.298862,0.084795,0.276614,0.377752,0.307140,0.702675,0.544415,0.613177,0.163364,0.865773
5,0.040675,0.561775,0.977687,0.932247,0.695339,0.407232,0.245137,0.876200,0.887926,0.095334
6,0.525938,0.453335,0.508970,0.510374,0.019208,0.094319,0.503374,0.050519,0.852546,0.781502
7,0.813886,0.962933,0.890146,0.878619,0.433543,0.928271,0.888659,0.007454,0.999036,0.056234
8,0.529626,0.535495,0.207493,0.541618,0.231770,0.579870,0.815939,0.173780,0.645425,0.270040
9,0.670591,0.231888,0.086909,0.120577,0.213524,0.688187,0.985378,0.778575,0.451172,0.109636
10,0.332922,0.955975,0.928650,0.343339,0.114092,0.388597,0.762522,0.088694,0.644720,0.547288
11,0.384792,0.039733,0.203525,0.445626,0.179105,0.191716,0.047813,0.495827,0.471063,0.757385
12,0.246076,0.391157,0.990437,0.998897,0.705280,0.090896,0.384164,0.792900,0.949557,0.411784
13,0.129614,0.726900,0.661794,0.557062,0.844757,0.383576,0.259404,0.110017,0.458015,0.819498
14,0.554109,0.183804,0.979812,0.836270,0.494005,0.855500,0.328067,0.678357,0.218070,0.781799
15,0.057650,0.258131,0.164662,0.601152,0.426158,0.599420,0.439401,0.367658,0.460134,0.129003
16,0.734189,0.119598,0.632199,0.889261,0.739865,0.373952,0.703584,0.111583,0.226560,0.532787
17,0.914344,0.325729,0.034759,0.580608,0.928997,0.215765,0.505068,0.628920,0.131271,0.895073
18,0.639037,0.323364,0.168423,0.478294,0.398995,0.748343,0.727088,0.896716,0.933591,0.134481
19,0.327075,0.961712,0.724828,0.874420,0.693857,0.004706,0.555662,0.825988,0.804733,0.382604

In [119]:
#7.
df2.isnull()

        0      1      2      3      4      5      6      7      8      9
0   False  False  False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False
15  False  False  False  False  False  False  False  False  False  False
16  False  False  False  False  False  False  False  False  False  False
17  False  False  False  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False  False  False  False
19  False  False  False  False  False  False  False  False  False  False

In [120]:
#8.
df2.isna()

        0      1      2      3      4      5      6      7      8      9
0   False  False  False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False  False  False
3   False  False  False  False  False  False  False  False  False  False
4   False  False  False  False  False  False  False  False  False  False
5   False  False  False  False  False  False  False  False  False  False
6   False  False  False  False  False  False  False  False  False  False
7   False  False  False  False  False  False  False  False  False  False
8   False  False  False  False  False  False  False  False  False  False
9   False  False  False  False  False  False  False  False  False  False
10  False  False  False  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False  False  False  False
14  False  False  False  False  False  False  False  False  False  False
15  False  False  False  False  False  False  False  False  False  False
16  False  False  False  False  False  False  False  False  False  False
17  False  False  False  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False  False  False  False
19  False  False  False  False  False  False  False  False  False  False

In [ ]:
'''Above mentioned are some basic attributes and functions related to Data Frames. Although some functions i havent mentioned here
. That you can check from the pandas documentation'''
#https://pandas.pydata.org/docs/reference/frame.html
#Also functions related to index and positions will be in the next notebook....